body {
	color: $body;
}

/* Gray */
.background-white,
.has-white-background-color {
	background-color: #fff;
}

.has-white-color {
	color: #fff;
}

/* Gray */
.background-gray,
.has-light-gray-background-color {
	background-color: #f5f5f5;
}

.has-light-gray-color {
	color: #f5f5f5;
}

/* Dark gray */
.background-dark-gray,
.has-dark-gray-background-color {
	background-color: #222222;
}

.color-dark-gray,
.has-dark-gray-color {
	color: #222222;
}

/* Blue */
.background-blue,
.has-blue-background-color {
	background-color: #0073aa;
}

.color-blue,
.has-blue-color {
	color: #0073aa;
}