#colophon {
	color: var(--subdued-body);
	font-size: 15px;

	a {
		color: var(--subdued-action);
	}

	.site-copyright {

		a {
			font-weight: 700;
			text-decoration: none;

			&:active,
			&:focus,
			&:hover {
				color: var(--action);
			}
		}
	}
}