.button,
button,
input[type="submit"],
.wp-block-button__link,
.wp-block-file__button,
.wp-block-search__button {
	background-color: $body;
	border: 0;
	border-radius: 0;
	color: #fff;
	display: inline-block;
	padding: .53em 1.7em;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;

	&:active,
	&:focus,
	&:hover {
		color: #fff;
		cursor: pointer;
		opacity: .8;
	}

	&.outline {
		background-color: transparent;
		border: 2px solid $body;
		color: $body;
		padding: calc( .53em - 2px ) calc( 1.7em - 2px);

		&:active,
		&:focus,
		&:hover {
			background-color: $body;
			color: #fff;
			cursor: pointer;
			opacity: .8;
		}
	}
}

.wp-block-button {

	&.is-style-outline {

		.wp-element-button {
			background-color: transparent;
			border: 2px solid $body;
			color: $body;
			padding: calc( .53em - 2px ) calc( 1.7em - 2px);

			&:active,
			&:focus,
			&:hover {
				background-color: $body;
				border-color: transparent;
				color: #fff;
				cursor: pointer;
			}
		}
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="text"],
input[type="search"],
input[type="password"],
textarea,
select {
	border: 0;
	border-radius: 0;
	box-shadow: 0 0 0 2px inset $color_gary_dark;
	box-sizing: border-box;
	padding: .53em;
	width: 100%;
}