.button,
button,
input[type="submit"],
.wp-block-button__link,
.wp-block-file__button,
.wp-block-search__button {
	background-color: $color_gary_dark;
	border: 2px solid $color_gary_dark;
	border-radius: 0;
	color: #fff;
	display: inline-block;
	padding: .53em 1.7em;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;

	&:active,
	&:focus,
	&:hover {
		background-color: lighten( $color_gary_dark, 10% );
		border-color: lighten( $color_gary_dark, 10% );
		color: #fff;
		cursor: pointer;
	}

	&.outline {
		background-color: transparent;
		color: $color_gary_dark;

		&:active,
		&:focus,
		&:hover {
			background-color: $color_gary_dark;
			border-color: $color_gary_dark;
			color: #fff;
			cursor: pointer;
		}
	}
}

.wp-block-button {

	&.is-style-outline {

		.wp-element-button {
			background-color: transparent;
			color: $color_gary_dark;

			&:active,
			&:focus,
			&:hover {
				background-color: $color_gary_dark;
				border-color: $color_gary_dark;
				color: #fff;
				cursor: pointer;
			}
		}
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="text"],
input[type="search"],
input[type="password"],
textarea,
select {
	border: 2px solid $color_gary_dark;
	border-radius: 0;
	box-sizing: border-box;
	padding: .53em;
	width: 100%;

	&:active,
	&:focus {
		border-color: $color_primary;
	}
}