@mixin block_spacing {
	margin-bottom: 1.25rem;

	@media all and (min-width: 576px) {
		margin-bottom: 1.5rem;
	}

	@media all and (min-width: 992px) {
		margin-bottom: 2rem;
	}
}

@mixin heading_font_reduced {

	h1, .h1,
	h2, .h2 {
		font-size: 2rem;
	}

	h3, .h3 {
		font-size: 1.5rem;
	}

	h4, .h4 {
		color: $body_light;
		font-size: 1.25rem;
	}

	h5, .h5,
	h6, .h6 {
		font-size: 1rem;
	}

	h6, .h6 {
		color: $body_light;
	}
}