@mixin block-spacing {
	margin-bottom: 1.25rem;

	@media all and (min-width: 576px) {
		margin-bottom: 1.5rem;
	}

	@media all and (min-width: 992px) {
		margin-bottom: 2rem;
	}
}

@mixin block-page-section-inner-container {
	padding: 3rem .75rem;
	margin: 0 auto;
	width: 100%;

	@media all and (min-width: 576px) {
		max-width: 540px;
	}

	@media all and (min-width: 768px) {
		max-width: 720px;
	}

	@media all and (min-width: 992px) {
		max-width: 960px;
		padding-bottom: 4rem;
		padding-top: 4rem;
	}

	@media all and (min-width: 1200px) {
		max-width: 1140px;
		padding-bottom: 5rem;
		padding-top: 5rem;
	}

	@media all and (min-width: 1400px) {
		max-width: 1320px;
	}
}

@mixin block-page-section-inner-container__tiny {
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;

	@media all and (min-width: 992px) {
		padding-bottom: 1.5rem;
		padding-top: 1.5rem;
	}

	@media all and (min-width: 1200px) {
		padding-bottom: 1.5rem;
		padding-top: 1.5rem;
	}
}

@mixin block-page-section-inner-container__small {

	@media all and (min-width: 992px) {
		padding-bottom: 3rem;
		padding-top: 3rem;
	}

	@media all and (min-width: 1200px) {
		padding-bottom: 3rem;
		padding-top: 3rem;
	}
}

@mixin block-page-section-inner-container__medium {

	@media all and (min-width: 1200px) {
		padding-bottom: 4rem;
		padding-top: 4rem;
	}
}

@mixin block-page-section-inner-container__large {

	@media all and (min-width: 1400px) {
		padding-bottom: 7rem;
		padding-top: 7rem;
	}
}

@mixin block-page-section-inner-container__huge {

	@media all and (min-width: 768px) {
		padding-bottom: 4rem;
		padding-top: 4rem;
	}

	@media all and (min-width: 992px) {
		padding-bottom: 5rem;
		padding-top: 5rem;
	}

	@media all and (min-width: 1200px) {
		padding-bottom: 7rem;
		padding-top: 7rem;
	}

	@media all and (min-width: 1400px) {
		padding-bottom: 9rem;
		padding-top: 9rem;
	}
}

@mixin block-page-section-inner-container__no-spacing {
	padding-bottom: 0;
	padding-top: 0;

	@media all and (min-width: 768px) {
		padding-bottom: 0;
		padding-top: 0;
	}

	@media all and (min-width: 992px) {
		padding-bottom: 0;
		padding-top: 0;
	}

	@media all and (min-width: 1200px) {
		padding-bottom: 0;
		padding-top: 0;
	}

	@media all and (min-width: 1400px) {
		padding-bottom: 0;
		padding-top: 0;
	}
}

@mixin heading-font-reduced {

	h1, .h1,
	h2, .h2 {
		font-size: 2rem;
	}

	h3, .h3 {
		font-size: 1.5rem;
	}

	h4, .h4 {
		color: $body_light;
		font-size: 1.25rem;
	}

	h5, .h5,
	h6, .h6 {
		font-size: 1rem;
	}

	h6, .h6 {
		color: $body_light;
	}
}