section[class*="-section"] {

	.section-header {
		margin-bottom: 3rem;

		.section-description {

			p {

				@media all and (min-width: 768px) {
					font-size: 21px;
				}
			}
		}
	}
}

.page-header {

	&.centered {
		text-align: center;

		.page-description {
			margin-left: auto;
			margin-right: auto;
		}
	}

	.page-title {
		margin-bottom: .75rem;

		&:last-child {
			margin-bottom: 0;
		}

		& + p {

			@media all and (min-width: 768px) {
				font-size: 21px;
			}
		}
	}

	.page-description {
		max-width: 768px;

		@media all and (min-width: 768px) {
			font-size: 21px;
		}
	}

	.entry-meta {
		margin-top: 1rem;
	}
}

.archive {

	.page-header {

		.page-title {
			color: $link_subdued;
			font-size: 1rem;
			font-weight: 700;
			line-height: 1;
			text-transform: uppercase;

			span {
				color: $body;
				line-height: 1.2;
				text-transform: none;
			}
		}
	}
}