body {

	& * {
		box-sizing: border-box;
	}
}

.inner {
	margin: 0 auto;
	padding: 3rem 10px;

	@media all and (min-width: 992px) {
		padding-bottom: 4rem;
		padding-top: 4rem;
	}

	@media all and (min-width: 1200px) {
		padding-bottom: 5rem;
		padding-top: 5rem;
	}

	&.tiny {
		padding-bottom: 1.5rem;
		padding-top: 1.5rem;

		@media all and (min-width: 992px) {
			padding-bottom: 1.5rem;
			padding-top: 1.5rem;
		}

		@media all and (min-width: 1200px) {
			padding-bottom: 1.5rem;
			padding-top: 1.5rem;
		}
	}

	&.small {

		@media all and (min-width: 992px) {
			padding-bottom: 3rem;
			padding-top: 3rem;
		}

		@media all and (min-width: 1200px) {
			padding-bottom: 3rem;
			padding-top: 3rem;
		}
	}

	&.medium {

		@media all and (min-width: 1200px) {
			padding-bottom: 4rem;
			padding-top: 4rem;
		}
	}
}
